<a href="https://colab.research.google.com/github/Anton91111/DZ3/blob/main/seminar_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание №57

In [ ]:
import pandas as pd


df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
df.dtypes

# Задание №59

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df['median_house_value'][df['median_income'] < 2]

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [ ]:
df.loc[df['median_income'] < 2, 'median_house_value']

In [ ]:
df[['longitude', 'latitude']]

In [ ]:
df[df.columns[:2]]

In [ ]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]
# & - и
# | - или

In [ ]:
df.loc[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000),
       df.columns]

# Задача №61

In [ ]:
df['median_house_value'].min(), df['median_house_value'].max()

(22500.0, 500001.0)

In [ ]:
df['median_house_value'].describe()
# 1 5 7 8 12 16 19 20 23 27 29 35 count = 12
# median = 17.5

# 1 5 7 8 12 16
# median = 7.5

# 19 20 23 27 29 35
# median = 25

In [ ]:
# Показать максимальное median_house_value, где median_income = 3.125
df['median_house_value'][df['median_income'] == 3.125].max()

233300.0

In [ ]:
# Узнать какая максимальная population в зоне минимального значения median_house_value
df['population'][df['median_house_value'] == df['median_house_value'].min()].max()

1230.0

# Задание №40

In [1]:
import pandas as pd

df = pd.read_csv('sample_data/california_housing_train.csv')

df[
    (df['population'] > 0) &
    (df['population'] < 500)
].median_house_value.mean()

206683.83635227982

# Задание №42

In [2]:
min_population = df.population.min()
df[
    df['population'] == min_population
].households.max()

4.0